body{
    height: 100%;   
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: white;

  
}
/* navigation menu styling */
.menu1{
    background-color: #111;
    width: 100%;
    font-size: 25px;
    float: left;
    overflow: hidden;
    margin-top: 0px;
    overflow: hidden;
    list-style-type: none;

}
/* text styling of navigation menu */
.menu1, li,a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    display: inline;
    padding: 14px 16px;


}

#RegisterButton{
    
    margin-left: 400px;
}

/* following code highlights active tab */
.activeHome {
background-color:#3b5998;
}

.activeRegister {
background-color:#3b5998;
}

.activeLogin {
background-color:#3b5998;
}

.activeHelp {
background-color:#3b5998;
}

.activeAbout {
background-color:#3b5998;
}

.activeContact {
background-color:#3b5998;
}

.title{
    padding-top:15%;
    text-align: center;
    color: black;
    font-size: 700%;  
}

.register{
    padding-top: 9%;
    padding-left: 6%;
    color: black;
    font-size: 200%;
    
}

.motto{  
    text-align: center;
}
/* home search bar */
.searchBar{   
    text-align: center;
}

#s{
    width: 500px;
    height: 30px;   
}

.registerform{
    padding-top: 20px;
    padding-left: 175px;
}

.registertable{
   border-spacing: 2em;
}
/* login form placement */
#userform{
    width: 300px;
}
/* making forgot password or username highlighted in blue */

.forgot{
    padding-left: 30px;
    color: blue;
}
/* login button on log in pagge */
.login{
    
    padding-left: 390px;
